<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Экзамены</title>
</head>
<body>
    <h1>ФИО: {{ student_name }}</h1>
    <h2>Группа: {{ group }}</h2>

    <h3>Опубликованные экзамены:</h3>
    {% for exam in exams %}
        <hr>
        <p><strong>Название:</strong> {{ exam.title }}</p>
        <p><strong>Дата создания:</strong> {{ exam.created_at }}</p>
        <p><strong>Дата проведения:</strong> {{ exam.exam_date }}</p>
        <p><strong>Пользователи:</strong>
            {% for user in exam.students.all %}
                {{ user.username }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Изображение:</strong><br>
            <img src="{{ exam.image.url }}" alt="image" style="max-height:200px;">
        </p>
    {% endfor %}
</body>
</html>